In [7]:
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [3]:
hw61 = pd.read_csv('homework_6.1.csv', index_col=0)
hw61

            Z  X         Y
0    0.548814  0 -0.823220
1    0.715189  1  0.842405
2    0.602763  1  0.898618
3    0.544883  0 -0.817325
4    0.423655  0 -0.635482
..        ... ..       ...
995  0.097676  0 -0.146515
996  0.514922  0 -0.772383
997  0.938412  1  0.730794
998  0.228647  0 -0.342970
999  0.677141  1  0.861429

[1000 rows x 3 columns]

In [45]:
untreat = hw61[hw61['X'] == 0]
treat = hw61[hw61['X'] == 1]
untreat, treat

(            Z  X         Y
 0    0.548814  0 -0.823220
 3    0.544883  0 -0.817325
 4    0.423655  0 -0.635482
 5    0.645894  0 -0.968841
 6    0.437587  0 -0.656381
 ..        ... ..       ...
 992  0.229567  0 -0.344351
 993  0.506863  0 -0.760294
 995  0.097676  0 -0.146515
 996  0.514922  0 -0.772383
 998  0.228647  0 -0.342970

 [509 rows x 3 columns],
             Z  X         Y
 1    0.715189  1  0.842405
 2    0.602763  1  0.898618
 7    0.891773  1  0.754113
 8    0.963663  1  0.718169
 9    0.383442  1  1.008279
 ..        ... ..       ...
 987  0.833982  1  0.783009
 991  0.322830  1  1.038585
 994  0.736853  1  0.831573
 997  0.938412  1  0.730794
 999  0.677141  1  0.861429

 [491 rows x 3 columns])

In [48]:
# Finding counterfactuals with Nearest Neighbors

neigh = NearestNeighbors(n_neighbors=1).fit(untreat[['Z']])
distances, indices = neigh.kneighbors(treat[['Z']])
treat1 = treat.copy()
treat1['Y*'] = untreat.iloc[indices.ravel()]['Y'].values

neigh = NearestNeighbors(n_neighbors=1).fit(treat[['Z']])
distances, indices = neigh.kneighbors(untreat[['Z']])
untreat1 = untreat.copy()
untreat1['Y*'] = treat.iloc[indices.flatten()]['Y'].values
treat1, untreat1

(            Z  X         Y        Y*
 1    0.715189  1  0.842405 -1.074491
 2    0.602763  1  0.898618 -0.906177
 7    0.891773  1  0.754113 -1.334690
 8    0.963663  1  0.718169 -1.434125
 9    0.383442  1  1.008279 -0.575196
 ..        ... ..       ...       ...
 987  0.833982  1  0.783009 -1.256917
 991  0.322830  1  1.038585 -0.483500
 994  0.736853  1  0.831573 -1.103841
 997  0.938412  1  0.730794 -1.398591
 999  0.677141  1  0.861429 -1.008072

 [491 rows x 4 columns],
             Z  X         Y        Y*
 0    0.548814  0 -0.823220  0.925250
 3    0.544883  0 -0.817325  0.928097
 4    0.423655  0 -0.635482  0.988072
 5    0.645894  0 -0.968841  0.877215
 6    0.437587  0 -0.656381  0.979868
 ..        ... ..       ...       ...
 992  0.229567  0 -0.344351  1.084149
 993  0.506863  0 -0.760294  0.946844
 995  0.097676  0 -0.146515  1.151379
 996  0.514922  0 -0.772383  0.942181
 998  0.228647  0 -0.342970  1.086319

 [509 rows x 4 columns])