In [1]:
import pandas as pd
import numpy as np
import math
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from scipy.stats import ttest_ind

In [2]:
hw11 = pd.read_csv('homework_1.1.csv', index_col=0)

In [3]:
hw11

           X1        X2        X3          Y
0   -0.440646 -0.390227  0.156718  -0.877671
1   -3.810099 -1.304665 -1.105117 -10.130388
2   -1.425451 -0.340049  1.115908   0.284068
3   -1.325750  0.161906 -0.254670  -1.994344
4    3.120263  1.487343 -1.164839   2.030030
..        ...       ...       ...        ...
995  1.281625 -0.062024 -0.109231   1.206058
996 -3.047558 -1.121675  0.678439  -3.229262
997 -0.028757 -0.191722  1.191790   3.160897
998  0.415266  0.373086  1.172636   4.033302
999  3.163783  1.296699  1.402481   9.941968

[1000 rows x 4 columns]

In [4]:
X = hw11.drop('Y', axis=1)
y = hw11['Y']

In [5]:
# Linear regression to predict Y from X1, X2, and X3
model = sm.OLS(y, X).fit()
model.params

X1    1.007095
X2    1.964732
X3    2.975624
dtype: float64

In [6]:
# Using t-statistics to determine which coefficient is most significant
model.tvalues
# X3 is the most significant since it has the largest T value

X1     61.018570
X2     53.332565
X3    197.035586
dtype: float64

In [7]:
# Which Xi has the greatest difference between the amoutn Y increases for each
# 1 unit of Xi (regressing Y on Xi alone) vs the amount that Y increases for 
# each 1 unit of Xi on the dataset, on average (regressing Y on all Xis)

X_vars = ['X1', 'X2', 'X3']
results = []

for var in X_vars:
    # performing linear regression on just 1 Xi
    X_uni = hw11[[var]]
    model_uni = LinearRegression().fit(X_uni, y)
    coef_uni = model_uni.coef_[0]

    # performing linear regression on all Xi and obtaining the corresponding coef
    X_multi = hw11[X_vars]
    model_multi = LinearRegression().fit(X_multi, y)
    coef_multi = model_multi.coef_[X_vars.index(var)]

    # finding the difference between the two coefs
    diff = abs(coef_uni - coef_multi)
    results.append({
        'Xi': var,
        'Univariate Coef': coef_uni,
        'Multiple Coef': coef_multi,
        'Absolute Difference': diff
    })

results_df = pd.DataFrame(results)
results_df

   Xi  Univariate Coef  Multiple Coef  Absolute Difference
0  X1         1.841761       1.007138             0.834623
1  X2         4.083613       1.964569             2.119044
2  X3         3.097041       2.975489             0.121553

In [8]:
hw12 = pd.read_csv('homework_1.2.csv', index_col=0)

In [9]:
hw12

    X         Y         Z
0   0  0.548814  0.548814
1   1  1.215189  0.715189
2   0  0.602763  0.602763
3   0  0.544883  0.544883
4   0  0.423655  0.423655
.. ..       ...       ...
95  0  0.183191  0.183191
96  1  1.086513  0.586513
97  0  0.020108  0.020108
98  1  1.328940  0.828940
99  0  0.004695  0.004695

[100 rows x 3 columns]

In [10]:
X0 = hw12[hw12['X'] == 0].reset_index(drop=True)
X1 = hw12[hw12['X'] == 1].reset_index(drop=True)

In [11]:
from sklearn.neighbors import NearestNeighbors

In [29]:
# Matching Z values with X=1 with Z values with X=0

neigh = NearestNeighbors(n_neighbors=1).fit(X0[['Z']])
distances, indices = neigh.kneighbors(X1[['Z']])

matches = X1.copy()
matches['Matched_Index_in_X0'] = indices.flatten()
matches['Matched_Z_in_X0'] = X0.loc[indices.flatten(), 'Z'].values
matches['Y_in_X0'] = X0.loc[indices.flatten(), 'Y'].values
matches['Distance'] = distances.flatten()
matches

,X,Y,Z,Matched_Index_in_X0,Matched_Z_in_X0,Y_in_X0,Distance
0,1,1.215189,0.715189,48,0.716327,0.716327,0.001138
1,1,1.145894,0.645894,25,0.653108,0.653108,0.007214
2,1,0.937587,0.437587,18,0.437032,0.437032,0.000555
3,1,1.391773,0.891773,9,0.778157,0.778157,0.113616
4,1,1.463663,0.963663,9,0.778157,0.778157,0.185506
5,1,0.883442,0.383442,13,0.414662,0.414662,0.031220
6,1,1.291725,0.791725,9,0.778157,0.778157,0.013568
7,1,1.425597,0.925597,9,0.778157,0.778157,0.147440
8,1,1.332620,0.832620,9,0.778157,0.778157,0.054463
9,1,1.370012,0.870012,9,0.778157,0.778157,0.091855
10,1,1.478618,0.978618,9,0.778157,0.778157,0.200462
11,1,1.299159,0.799159,9,0.778157,0.778157,0.021002
12,1,0.961479,0.461479,27,0.466311,0.466311,0.004831
13,1,1.280529,0.780529,9,0.778157,0.778157,0.002372
14,1,1.139921,0.639921,25,0.653108,0.653108,0.013187
15,1,1.444669,0.944669,9,0.778157,0.778157,0.166512
16,1,1.274234,0.774234,9,0.778157,0.778157,0.003923
17,1,1.068434,0.568434,5,0.568045,0.568045,0.000389
18,1,1.117635,0.617635,17,0.616934,0.616934,0.000702
19,1,1.112096,0.612096,17,0.616934,0.616934,0.004838
20,1,1.443748,0.943748,9,0.778157,0.778157,0.165591
21,1,1.181820,0.681820,21,0.670638,0.670638,0.011182
22,1,0.859508,0.359508,46,0.318569,0.318569,0.040939
23,1,1.197631,0.697631,48,0.716327,0.716327,0.018696
24,1,0.628926,0.128926,47,0.131798,0.131798,0.002872
25,1,0.815428,0.315428,39,0.317983,0.317983,0.002555
26,1,0.863711,0.363711,46,0.318569,0.318569,0.045142
27,1,1.070197,0.570197,5,0.568045,0.568045,0.002152
28,1,0.938602,0.438602,18,0.437032,0.437032,0.001570
29,1,1.488374,0.988374,9,0.778157,0.778157,0.210217
30,1,0.661310,0.161310,29,0.158970,0.158970,0.002340
31,1,0.638183,0.138183,11,0.143353,0.143353,0.005170
32,1,0.696582,0.196582,24,0.208877,0.208877,0.012294
33,1,0.868725,0.368725,13,0.414662,0.414662,0.045937
34,1,1.320993,0.820993,9,0.778157,0.778157,0.042836
35,1,1.337945,0.837945,9,0.778157,0.778157,0.059788
36,1,1.476459,0.976459,9,0.778157,0.778157,0.198303
37,1,1.476761,0.976761,9,0.778157,0.778157,0.198604
38,1,1.104846,0.604846,1,0.602763,0.602763,0.002082
39,1,0.620197,0.120197,38,0.118728,0.118728,0.001469
40,1,0.796140,0.296140,37,0.282807,0.282807,0.013333
41,1,0.914263,0.414263,13,0.414662,0.414662,0.000399
42,1,1.192472,0.692472,21,0.670638,0.670638,0.021834
43,1,1.429296,0.929296,9,0.778157,0.778157,0.151139
44,1,1.167410,0.667410,20,0.666767,0.666767,0.000644
45,1,0.789406,0.289406,37,0.282807,0.282807,0.006599
46,1,1.086513,0.586513,45,0.575946,0.575946,0.010566
47,1,1.328940,0.828940,9,0.778157,0.778157,0.050783

In [33]:
# Farthest distance 
max(matches['Distance'])

0.2102170871093757

In [14]:
# Finding the effect (difference between avg Y value for X=0 vs avg Y value for X=1)
abs(np.mean(matches['Y_in_X0']) - np.mean(matches['Y']))

np.float64(0.5433600651913855)

In [15]:
# Approach B: All matches in X=0 that are within a distance of 0.2 of each X=1
# Duplicates okay

neigh_b = NearestNeighbors(radius=0.2).fit(X0[['Z']])
distances_radius, indices_radius = neigh_b.radius_neighbors(X1[['Z']])

duplicate_count = sum(len(match_list) - 1 for match_list in indices_radius if len(match_list) > 1)
duplicate_count

691

In [16]:
# Computing effect

neighbor_group_means = []

for i, match_indices in enumerate(indices_radius):
    if len(match_indices) > 0:
        matched_Y_values = X0.loc[match_indices, 'Y'].values
        neighbor_group_means.append(np.mean(matched_Y_values))
        
overall_effect = np.mean(neighbor_group_means)
overall_effect

np.float64(0.5411846604540438)